body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #ffe79e19;
}

/* NavBar */
.menu-title {
  color: rgb(90, 90, 90)
}

.Logout {
  color: #ff7730
}

.login-info {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 50px;
  font-weight: 600;
}

.font-type-1 {
  font-family: "Fjalla One", sans-serif;
}

.collapse {
  justify-content: space-between;
  font-size: 20px;
}

.btn-navbar {
  width: 120px;
  height: 46px;
  font-size: 16px;
}

.heading {
  font-size: 85px;
  font-weight: 500;
}

.heading-2 {
  font-size: 70px;
  font-weight: 400;
}

/* Responsive design */
/* Laptop large -- 1440px */
@media (min-width: 1440px) {
  .navbar-brand {
    position: relative;
    left: 132px;
  }

  .collapse {
    margin-left: 22%;
  }

  .btn-navbar {
    position: relative;
    right: 85px;
  }
}

/* Laptop small -- 1024px */
@media (min-width: 989px) and (max-width: 1025px) {
  .collapse {
    margin-left: 10%;
  }

  .btn-navbar {
    position: relative;
    right: 45px;
  }
}